* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: #4985ff;
  --dark: #323232;
  --grey: #999;
  --light-grey: #e0e0e0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 45px;
  background: var(--accent);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  color: var(--accent);
}

img {
  max-width: 100%;
}

/*Header*/
.header {
  border-bottom: 1px solid #a1a1a17e;
  padding: 40px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__link {
  color: #ffffff;
  position: relative;
}
.header__link:not(:last-child) {
  margin-right: 40px;
}

.header__link::after {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 130%;
  height: 2px;
  opacity: 0;
  transition: 0.5s;
}

.header__link:hover::after {
  opacity: 1;
}

.header__burger {
  max-width: 30px;
  cursor: pointer;
  display: none;
  z-index: 3000;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

/*Sections services*/
.main {
  background: url("../img/Rectangle.jpg") no-repeat center top/cover;
  padding-top: 320px;
  padding-bottom: 335px;
}

.main__text {
  font-weight: 500;
}

.main__text,
.main__title {
  text-align: center;
}

.main__title {
  font-weight: 800;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Sections Services*/
.services {
  padding-top: 110px;
  padding-bottom: 105px;
}
.services__title,
.services__text {
  text-align: center;
}

.services__title {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  padding-bottom: 50px;
}

.services__text {
  color: var(--grey);
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 70px;
}

.services__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 55px;
}

.services__subbox {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 27px;
}

.services__icon {
  border: solid 1px var(--accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: relative;
}

.services__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: var(--light-grey) solid 1px;
}

.services__box-text {
  padding-top: 40px;
}

.services__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 12px;
}

.services__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey);
}

/*Section Data*/
.data {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 70px;
}

.data__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 121px;
  padding-bottom: 90px;
  border-bottom: var(--light-grey) 1px solid;
}

.data__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: var(--dark);
  padding-bottom: 40px;
}

.data__text {
  font-weight: 400;
  line-height: 25px;
  color: var(--grey);
  padding-bottom: 30px;
}

.data__box-img {
  border-radius: 30px;
  max-width: 500px;
}

.data__сase {
  padding-top: 70px;
  display: flex;
  max-width: 923px;
  margin: 0 auto;
  justify-content: space-between;
}

.data__subcase {
  cursor: pointer;
  transition: 0.5s;
}

.data__subcase:hover {
  transform: scale(1.5);
}

.data__case-links {
  display: flex;
  align-items: center;
}

.data__case-img {
  width: 30px;
  height: 26, 5px;
}

.data__case-num {
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin-left: 20px;
}

.data__case-text {
  padding-top: 15px;
  font-weight: 400;
  color: var(--grey);
}

/*Section Project*/
.projects-one {
  padding-top: 100px;
  padding-bottom: 302px;
  background: linear-gradient(#504dc2 100%, #5f12d0 100%);
}

.projects__title {
  display: flex;
  justify-content: space-between;
}

.projects__subtitle {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  max-width: 540px;
}

.projects__button {
  margin: 0;
}

.projects-two {
  background-color: #fff;
  padding-bottom: 485px;
  position: relative;
}

.projects__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: absolute;
  top: -232px;
  border-bottom: var(--light-grey) 1px solid;
}

.projects__img {
  max-width: 350px;
  max-height: 300px;
  border-radius: 10px;
}

.projects__subtitle-card {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  padding-top: 30px;
}

.projects__num {
  color: var(--accent);
}

.projects__subtext {
  font-weight: 400;
  font-size: 16px;
  max-width: 350px;
  color: var(--grey);
  padding: 30px 0;
}

.projects-bot {
  padding-bottom: 85px;
}

/*Section Ours*/
.ours {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #f6f6f8;
}

.ours__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000;
  padding-bottom: 50px;
}

.ours__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--grey);
  padding-bottom: 70px;
}

.ours__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 50px;
}

.ours__picture {
  width: 255px;
  height: 255px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Section Video*/
.video {
  background: url("./img/Rectangle5.jpg") no-repeat center top/cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 70px;
  padding-bottom: 420px;
}

.video__position {
  position: relative;
}

.video__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.video__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-bottom: 70px;
}

.video__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__frame {
  width: 970px;
  height: 430px;
  position: absolute;
  top: 220px;
  border-radius: 10px;
}

/*Section Mail*/
.mail {
  padding-top: 165px;
  padding-bottom: 95px;
}

.mail__border {
  border-top: var(--light-grey) 1px solid;
  align-items: center;
}

.mail__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  padding-top: 85px;
}

.mail__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--grey);
  padding-top: 20px;
  padding-bottom: 30px;
}

.mail__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__input {
  width: 489px;
  height: 45px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  outline: none;
  font-weight: 400;
  font-size: 15px;
  color: var(--grey);
  padding-left: 30px;
}

.mail__submit {
  width: 190px;
  height: 45px;
  background: var(--accent);
  border-radius: 0px 30px 30px 0px;
  border: 0;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  float: right;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.mail__subtext {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--grey);
  padding-top: 35px;
}

/*Footer*/
.footer {
  background-color: #f6f6f8;
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer__box {
  display: flex;
  justify-content: space-around;
  border-bottom: var(--light-grey) 1px solid;
  width: 1110;
  padding-bottom: 70px;
}

.footer__title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 35px;
}

.footer__subbox {
  display: flex;
  cursor: pointer;
}

.footer__subbox:not(last-child) {
  padding-bottom: 30px;
}

.footer__img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.footer__right-arrow {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-top: 4px;
}

.footer__link {
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
}

.footer__link:hover {
  color: var(--dark);
}

.footer__bot {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--grey);
  padding-top: 30px;
}

/*Adaptive*/
@media screen and (max-width: 1200px) {
  .header__nav {
    justify-content: center;
  }
  .projects-one {
    padding-bottom: 86px;
  }
  .projects-two {
    padding-bottom: 85px;
  }
  .projects__box {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects__subbox:not(:last-child) {
    padding-top: 70px;
  }
  .ours__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1064px) {
  .data__title {
    display: flex;
    justify-content: center;
  }
  .data__box {
    grid-template-columns: 1fr;
  }
}
.data__box-img {
  justify-self: center;
}

@media screen and (max-width: 988px) {
  .services__box {
    grid-template-columns: 1fr;
  }
  .services__subbox {
    justify-self: center;
  }

  .data__сase {
    flex-wrap: wrap;
  }

  .data__subcase:hover {
    transform: scale(1);
  }
  .video {
    padding-bottom: 120px;
  }
  .video__box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .video__box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 828px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 776px) {
  .projects-one {
    padding: 30px 0;
  }
  .projects__title {
    display: block;
  }
  .projects__subtitle {
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .projects__button {
    margin: 0 auto;
  }
  .projects__subbox:nth-child(2) {
    padding-top: 0px;
  }

  form {
    text-align: center;
  }
  .mail__input {
    border-radius: 30px;
  }
  .mail__submit {
    margin-top: 30px;
    float: none;
    border-radius: 30px;
  }
}

@media screen and (max-width: 526px) {
  .mail__input {
    width: 300px;
  }

  .footer__title {
    font-size: 10px;
  }
  .footer__img {
    margin-right: 10px;
  }
  .footer__link {
    font-size: 10px;
  }
  .footer__right-arrow {
    width: 6px;
    height: 6px;
    margin-right: 6px;
  }
}

@media screen and (max-width: 420px) {
  .projects__subtitle {
    font-size: 20px;
  }
}
